@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Poppins:wght@400;500;600&display=swap');

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    font-family: 'Audiowide', cursive;
    background-color: #050510;
    /* Placeholder necesario para que actue el guard */
    background-image: url('/images/background.webp');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
    min-height: 100vh;
    overflow-y: scroll;

    transition: background-image 0.5s ease-in-out;
}

* {
    box-sizing: border-box;
}

.peppix-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-image: url('/images/peppix.webp');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    vertical-align: middle;
    margin-left: 10px;
}